/*import google font*/

@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
body {
    font-family: 'Happy Monkey', Arial, cursive;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 0 50px;
    box-shadow: 2px 3px 5px 2px rgba(128, 128, 128, 0.479);
}

p,
li {
    color: #707070;
}

li {
    padding: 5px 0;
}

.mainheader {
    text-align: center;
}

h1 {
    color: #DB0038;
}

h2 {
    color: #3998A3;
}

h3 {
    color: #474747;
}

.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 10px;
}

.rating span {
    color: #F4B400;
    font-size: 25px;
}

.mainfooter {
    text-align: center;
}

.rating {
    text-align: center;
}