.navbar ul {
    padding: 5px;
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.navbar {
    background-color: #466f9d;
}

.navbar li {
    display: inline;
    padding: 15px;
    /* border: 1px black solid; */
    font-size: 11pt;
}

.navbar li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

#current {
    opacity: 0.5;
}

.mainfooter {
    clear: both;
}

.mainfooter ul {
    padding: 15px;
    background-color: #123e65;
}

.mainfooter li {
    display: inline;
    margin-right: 25px;
    list-style: none;
}

.mainfooter li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.footerlogo {
    position: absolute;
    right: 20px;
    width: 55px;
}

.mainfooter ul {
    position: relative;
}